<div class="container" fxFlex='100' fxLayout='column' [@inOutAnimation]>
    <div class="portada" fxFlex='100'>
        <div class="tituloGeneral" fxFlex="50" fxLayoutAlign="start center">
            <h2>Bienvenido! elige una de las opciones disponibles</h2>
        </div>
        <div class="imagen" fxFlex="30" fxLayoutAlign="end">
            <img src="https://img.pixers.pics/pho_wat(s3:700/FO/17/48/47/59/700_FO17484759_c574e754e1208e60c2f411247057a801.jpg,700,376,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,326,jpg)/vinilos-mapa-del-mundo-con-los-paises-sobre-fondo-azul.jpg.jpg" alt="">
        </div>
    </div>
    <div class="informacion" fxFlex="100" fxLayout="column">
        <div class="tituloCartas" fxFlex="50" fxLayoutAlign="center center">
            <h2>APIS</h2>
        </div>
        <div class="cartas" fxLayout="row" fxLayoutAlign="center">
            <mat-card class="cardCss">
                <div class="contenido">
                    <mat-card-title fxLayoutAlign="center center">Cifras Covid-19</mat-card-title>
                    <div class="icono" fxLayoutAlign="center center">
                        <div class="mapaCovid"></div>
                    </div>
                    <div class="infoCarta" fxLayoutAlign="center center">
                        <h4>Consulta las cifras actualizadas de Covid-19 en cada país y su respectiva ubicación en el mapa.
                        </h4>
                    </div>
                </div>
                <div class="boton" fxLayoutAlign="end">
                    <button mat-raised-button color="primary" routerLink='/covid'>
                        Ver más <mat-icon>chevron_right</mat-icon>                   
                    </button>
                </div>
            </mat-card>
            <mat-card class="cardCss">
                <div class="contenido">
                    <mat-card-title fxLayoutAlign="center center">Clima en el mundo</mat-card-title>
                    <div class="icono" fxLayoutAlign="center center">
                        <div class="mapaClima">
                            <div class="nubes">
                                <img src="https://image.flaticon.com/icons/png/512/1574/1574211.png" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="infoCarta" fxLayoutAlign="center center">
                        <h4>Si quieres conocer el clima en el mundo, este lugar es para ti, ¡no esperes más!
                        </h4>
                    </div>
                </div>
                <div class="boton" fxLayoutAlign="end">
                    <button mat-raised-button color="primary" routerLink='/clima'>
                        Ver más <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </mat-card>

        </div>
    </div>


    <!-- <div class="container" style="background-color: black; min-height: 100vh;">
    <button mat-raised-button color="primary" routerLink='/covid'>Primary</button>
<button mat-raised-button color="accent" routerLink='/clima'>Accent</button>
</div> -->