.container {
    background-size: cover;
    min-height: 100vh;
    object-fit: contain;
    background-repeat: no-repeat;
}

.hola {}

input {
    -webkit-box-shadow:  #424242 inset !important;
    -webkit-text-fill-color: rgb(0, 0, 0);
}

.mat-card {
    width: 400px;
    margin-top: 10vh;
}

.cartas2 {
    border-radius: 10px !important;
    width: 200px;
    height: auto !important;
    /*  background: rgb(0, 0, 0);
   background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(8, 7, 42, 1)); */
    /*  background: rgb(0, 0, 0);
   background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(45, 194, 226, 1) 100%, rgba(23, 136, 221, 1) 100%); */
    background: rgb(96, 188, 199);
    background: linear-gradient(180deg, rgba(96, 188, 199, 1) 0%, rgba(20, 19, 19, 1) 100%);
    color: white;
    font-size: 1rem;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.contenido h3 {}

.temperatura h3 {
    font-size: 3rem !important;
    margin-bottom: 10px;
}

.dia h2 {
    font-size: 1rem !important;
    text-transform: capitalize;
}

.ciudad h2 {
    font-size: 10px !important;
}

.hora h3 {
    font-size: 1.3rem !important;
    margin-bottom: 0px;
}

p {
    text-transform: capitalize;
}

.tabla {
    margin-top: 20px;
}

.info .mat-form-field {
    width: 80%;
}

::ng-deep .guardar2 {
    margin-left: 10px !important;
}

::ng-deep .ubicacion {
    margin-top: 10px !important;
}

::ng-deep .titulo h3 {
    font-size: 1.5rem !important;
    font-weight: bold;
    margin-bottom: 10px !important;
}